@tailwind base;
@tailwind components;
@tailwind utilities;

.text-container {
    /* font-size: 150px; */
    color: rgba(225,225,225, .1);
    background-image: url("https://s31.postimg.cc/yaze1agjv/abstract-background-canvas-249798.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-sizxe: cover;
    -webkit-background-clip:text;
    animation: animate 15s linear infinite;
    text-align: center;
    margin-top: 17%;
    font-weight: 900;
}
@keyframes animate {
    0%{
    background-position: left 0px top 10px;
    }
    40%{
        background-position: left 800px top 10px;
    }
}